<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidi.system.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.zhidi.system.entity.Message" >
    <id column="MESSAGEID" property="messageid" jdbcType="VARCHAR" />
    <result column="TOUSERID" property="touserid" jdbcType="VARCHAR" />
    <result column="FROMUSERID" property="fromuserid" jdbcType="VARCHAR" />
    <result column="READTIME" property="readtime" jdbcType="TIMESTAMP" />
    <result column="SENDTIME" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhidi.system.entity.Message" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    MESSAGEID, TOUSERID, FROMUSERID, READTIME, SENDTIME, STATUS
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_CRM_MESSAGE
    where MESSAGEID = #{messageid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_CRM_MESSAGE
    where MESSAGEID = #{messageid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.system.entity.Message" >
    insert into TB_CRM_MESSAGE (MESSAGEID, TOUSERID, FROMUSERID, 
      READTIME, SENDTIME, STATUS, 
      CONTENT)
    values (#{messageid,jdbcType=VARCHAR}, #{touserid,jdbcType=VARCHAR}, #{fromuserid,jdbcType=VARCHAR}, 
      #{readtime,jdbcType=TIMESTAMP}, #{sendtime,jdbcType=TIMESTAMP}, #{status,jdbcType=DECIMAL}, 
      #{content,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.system.entity.Message" >
    insert into TB_CRM_MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageid != null" >
        MESSAGEID,
      </if>
      <if test="touserid != null" >
        TOUSERID,
      </if>
      <if test="fromuserid != null" >
        FROMUSERID,
      </if>
      <if test="readtime != null" >
        READTIME,
      </if>
      <if test="sendtime != null" >
        SENDTIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageid != null" >
        #{messageid,jdbcType=VARCHAR},
      </if>
      <if test="touserid != null" >
        #{touserid,jdbcType=VARCHAR},
      </if>
      <if test="fromuserid != null" >
        #{fromuserid,jdbcType=VARCHAR},
      </if>
      <if test="readtime != null" >
        #{readtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.system.entity.Message" >
    update TB_CRM_MESSAGE
    <set >
      <if test="touserid != null" >
        TOUSERID = #{touserid,jdbcType=VARCHAR},
      </if>
      <if test="fromuserid != null" >
        FROMUSERID = #{fromuserid,jdbcType=VARCHAR},
      </if>
      <if test="readtime != null" >
        READTIME = #{readtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtime != null" >
        SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where MESSAGEID = #{messageid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhidi.system.entity.Message" >
    update TB_CRM_MESSAGE
    set TOUSERID = #{touserid,jdbcType=VARCHAR},
      FROMUSERID = #{fromuserid,jdbcType=VARCHAR},
      READTIME = #{readtime,jdbcType=TIMESTAMP},
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=CLOB}
    where MESSAGEID = #{messageid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.system.entity.Message" >
    update TB_CRM_MESSAGE
    set TOUSERID = #{touserid,jdbcType=VARCHAR},
      FROMUSERID = #{fromuserid,jdbcType=VARCHAR},
      READTIME = #{readtime,jdbcType=TIMESTAMP},
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL}
    where MESSAGEID = #{messageid,jdbcType=VARCHAR}
  </update>
</mapper>