<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidi.system.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.zhidi.system.entity.Role" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
    <result column="ROLENOTE" property="rolenote" jdbcType="VARCHAR" />
    <result column="SORTNUM" property="sortnum" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="CREATEBY" property="createby" jdbcType="VARCHAR" />
    <result column="UPDATEBY" property="updateby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATETIME, ROLENAME, ROLENOTE, SORTNUM, STATUS, UPDATETIME, CREATEBY, UPDATEBY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_SYSTEM_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_SYSTEM_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.system.entity.Role" >
    insert into TB_SYSTEM_ROLE (ID, CREATETIME, ROLENAME, 
      ROLENOTE, SORTNUM, STATUS, 
      UPDATETIME, CREATEBY, UPDATEBY
      )
    values (#{id,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{rolename,jdbcType=VARCHAR}, 
      #{rolenote,jdbcType=VARCHAR}, #{sortnum,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{updateby,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.system.entity.Role" >
    insert into TB_SYSTEM_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="rolename != null" >
        ROLENAME,
      </if>
      <if test="rolenote != null" >
        ROLENOTE,
      </if>
      <if test="sortnum != null" >
        SORTNUM,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="createby != null" >
        CREATEBY,
      </if>
      <if test="updateby != null" >
        UPDATEBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="rolenote != null" >
        #{rolenote,jdbcType=VARCHAR},
      </if>
      <if test="sortnum != null" >
        #{sortnum,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.system.entity.Role" >
    update TB_SYSTEM_ROLE
    <set >
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rolename != null" >
        ROLENAME = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="rolenote != null" >
        ROLENOTE = #{rolenote,jdbcType=VARCHAR},
      </if>
      <if test="sortnum != null" >
        SORTNUM = #{sortnum,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        CREATEBY = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updateby != null" >
        UPDATEBY = #{updateby,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.system.entity.Role" >
    update TB_SYSTEM_ROLE
    set CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      ROLENAME = #{rolename,jdbcType=VARCHAR},
      ROLENOTE = #{rolenote,jdbcType=VARCHAR},
      SORTNUM = #{sortnum,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=VARCHAR},
      UPDATEBY = #{updateby,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据用户id查询角色 -->
  <select id="queryRoleByUserId" resultMap="BaseResultMap">
  	 select 
	  tsr.* 
	 from tb_system_role tsr 
	 left join tb_system_user_role tsur
	 on tsr.id=tsur.roleid
	 where tsur.userid=#{userId}
  </select>
  
  <select id="queryAll" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from tb_system_role
  	where status=1
  </select>
  
  <delete id="removeRelation">
  	delete from tb_system_user_role where userid=#{userId}
  </delete>
  
  <insert id="addRelation">
  	insert into tb_system_user_role values (#{userId},#{roleId})
  </insert>
</mapper>