<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidi.manage.dao.BusinessMapper" >
  <resultMap id="BaseResultMap" type="com.zhidi.manage.entity.Business" >
    <id column="BUSINESSID" property="businessid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ORIGIN" property="origin" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="ESTIMATEPRICE" property="estimateprice" jdbcType="DECIMAL" />
    <result column="CUSTOMERID" property="customerid" jdbcType="VARCHAR" />
    <result column="CREATORUSERID" property="creatoruserid" jdbcType="VARCHAR" />
    <result column="OWNERUSERID" property="owneruserid" jdbcType="VARCHAR" />
    <result column="GAINRATE" property="gainrate" jdbcType="DECIMAL" />
    <result column="TOTALAMOUNT" property="totalamount" jdbcType="DECIMAL" />
    <result column="SUBTOTALVAL" property="subtotalval" jdbcType="DECIMAL" />
    <result column="DISCOUNTPRICE" property="discountprice" jdbcType="DECIMAL" />
    <result column="SALESPRICE" property="salesprice" jdbcType="DECIMAL" />
    <result column="DUEDATE" property="duedate" jdbcType="TIMESTAMP" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATEUSERID" property="updateuserid" jdbcType="VARCHAR" />
    <result column="STATUSID" property="statusid" jdbcType="VARCHAR" />
    <result column="TOTALPRICE" property="totalprice" jdbcType="DECIMAL" />
    <result column="NEXTSTEP" property="nextstep" jdbcType="VARCHAR" />
    <result column="NEXTSTEPTIME" property="nextsteptime" jdbcType="TIMESTAMP" />
    <result column="ISDELETED" property="isdeleted" jdbcType="DECIMAL" />
    <result column="DELETEUSERID" property="deleteuserid" jdbcType="VARCHAR" />
    <result column="DELETETIME" property="deletetime" jdbcType="TIMESTAMP" />
    <result column="CONTACTSID" property="contactsid" jdbcType="VARCHAR" />
    <result column="CONTRACTADDRESS" property="contractaddress" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    BUSINESSID, NAME, ORIGIN, TYPE, ESTIMATEPRICE, CUSTOMERID, CREATORUSERID, OWNERUSERID, 
    GAINRATE, TOTALAMOUNT, SUBTOTALVAL, DISCOUNTPRICE, SALESPRICE, DUEDATE, CREATETIME, 
    UPDATETIME, UPDATEUSERID, STATUSID, TOTALPRICE, NEXTSTEP, NEXTSTEPTIME, ISDELETED, 
    DELETEUSERID, DELETETIME, CONTACTSID, CONTRACTADDRESS, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_CRM_BUSINESS
    where BUSINESSID = #{businessid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_CRM_BUSINESS
    where BUSINESSID = #{businessid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.manage.entity.Business" >
    insert into TB_CRM_BUSINESS (BUSINESSID, NAME, ORIGIN, 
      TYPE, ESTIMATEPRICE, CUSTOMERID, 
      CREATORUSERID, OWNERUSERID, GAINRATE, 
      TOTALAMOUNT, SUBTOTALVAL, DISCOUNTPRICE, 
      SALESPRICE, DUEDATE, CREATETIME, 
      UPDATETIME, UPDATEUSERID, STATUSID, 
      TOTALPRICE, NEXTSTEP, NEXTSTEPTIME, 
      ISDELETED, DELETEUSERID, DELETETIME, 
      CONTACTSID, CONTRACTADDRESS, DESCRIPTION
      )
    values (#{businessid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{estimateprice,jdbcType=DECIMAL}, #{customerid,jdbcType=VARCHAR}, 
      #{creatoruserid,jdbcType=VARCHAR}, #{owneruserid,jdbcType=VARCHAR}, #{gainrate,jdbcType=DECIMAL}, 
      #{totalamount,jdbcType=DECIMAL}, #{subtotalval,jdbcType=DECIMAL}, #{discountprice,jdbcType=DECIMAL}, 
      #{salesprice,jdbcType=DECIMAL}, #{duedate,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, #{statusid,jdbcType=VARCHAR}, 
      #{totalprice,jdbcType=DECIMAL}, #{nextstep,jdbcType=VARCHAR}, #{nextsteptime,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=DECIMAL}, #{deleteuserid,jdbcType=VARCHAR}, #{deletetime,jdbcType=TIMESTAMP}, 
      #{contactsid,jdbcType=VARCHAR}, #{contractaddress,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.manage.entity.Business" >
    insert into TB_CRM_BUSINESS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessid != null" >
        BUSINESSID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="origin != null" >
        ORIGIN,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="estimateprice != null" >
        ESTIMATEPRICE,
      </if>
      <if test="customerid != null" >
        CUSTOMERID,
      </if>
      <if test="creatoruserid != null" >
        CREATORUSERID,
      </if>
      <if test="owneruserid != null" >
        OWNERUSERID,
      </if>
      <if test="gainrate != null" >
        GAINRATE,
      </if>
      <if test="totalamount != null" >
        TOTALAMOUNT,
      </if>
      <if test="subtotalval != null" >
        SUBTOTALVAL,
      </if>
      <if test="discountprice != null" >
        DISCOUNTPRICE,
      </if>
      <if test="salesprice != null" >
        SALESPRICE,
      </if>
      <if test="duedate != null" >
        DUEDATE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="updateuserid != null" >
        UPDATEUSERID,
      </if>
      <if test="statusid != null" >
        STATUSID,
      </if>
      <if test="totalprice != null" >
        TOTALPRICE,
      </if>
      <if test="nextstep != null" >
        NEXTSTEP,
      </if>
      <if test="nextsteptime != null" >
        NEXTSTEPTIME,
      </if>
      <if test="isdeleted != null" >
        ISDELETED,
      </if>
      <if test="deleteuserid != null" >
        DELETEUSERID,
      </if>
      <if test="deletetime != null" >
        DELETETIME,
      </if>
      <if test="contactsid != null" >
        CONTACTSID,
      </if>
      <if test="contractaddress != null" >
        CONTRACTADDRESS,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessid != null" >
        #{businessid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="estimateprice != null" >
        #{estimateprice,jdbcType=DECIMAL},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="creatoruserid != null" >
        #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="owneruserid != null" >
        #{owneruserid,jdbcType=VARCHAR},
      </if>
      <if test="gainrate != null" >
        #{gainrate,jdbcType=DECIMAL},
      </if>
      <if test="totalamount != null" >
        #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="subtotalval != null" >
        #{subtotalval,jdbcType=DECIMAL},
      </if>
      <if test="discountprice != null" >
        #{discountprice,jdbcType=DECIMAL},
      </if>
      <if test="salesprice != null" >
        #{salesprice,jdbcType=DECIMAL},
      </if>
      <if test="duedate != null" >
        #{duedate,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="statusid != null" >
        #{statusid,jdbcType=VARCHAR},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="nextstep != null" >
        #{nextstep,jdbcType=VARCHAR},
      </if>
      <if test="nextsteptime != null" >
        #{nextsteptime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null" >
        #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null" >
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactsid != null" >
        #{contactsid,jdbcType=VARCHAR},
      </if>
      <if test="contractaddress != null" >
        #{contractaddress,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.manage.entity.Business" >
    update TB_CRM_BUSINESS
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        ORIGIN = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="estimateprice != null" >
        ESTIMATEPRICE = #{estimateprice,jdbcType=DECIMAL},
      </if>
      <if test="customerid != null" >
        CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="creatoruserid != null" >
        CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="owneruserid != null" >
        OWNERUSERID = #{owneruserid,jdbcType=VARCHAR},
      </if>
      <if test="gainrate != null" >
        GAINRATE = #{gainrate,jdbcType=DECIMAL},
      </if>
      <if test="totalamount != null" >
        TOTALAMOUNT = #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="subtotalval != null" >
        SUBTOTALVAL = #{subtotalval,jdbcType=DECIMAL},
      </if>
      <if test="discountprice != null" >
        DISCOUNTPRICE = #{discountprice,jdbcType=DECIMAL},
      </if>
      <if test="salesprice != null" >
        SALESPRICE = #{salesprice,jdbcType=DECIMAL},
      </if>
      <if test="duedate != null" >
        DUEDATE = #{duedate,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="statusid != null" >
        STATUSID = #{statusid,jdbcType=VARCHAR},
      </if>
      <if test="totalprice != null" >
        TOTALPRICE = #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="nextstep != null" >
        NEXTSTEP = #{nextstep,jdbcType=VARCHAR},
      </if>
      <if test="nextsteptime != null" >
        NEXTSTEPTIME = #{nextsteptime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null" >
        ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null" >
        DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null" >
        DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactsid != null" >
        CONTACTSID = #{contactsid,jdbcType=VARCHAR},
      </if>
      <if test="contractaddress != null" >
        CONTRACTADDRESS = #{contractaddress,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where BUSINESSID = #{businessid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.manage.entity.Business" >
    update TB_CRM_BUSINESS
    set NAME = #{name,jdbcType=VARCHAR},
      ORIGIN = #{origin,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      ESTIMATEPRICE = #{estimateprice,jdbcType=DECIMAL},
      CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      OWNERUSERID = #{owneruserid,jdbcType=VARCHAR},
      GAINRATE = #{gainrate,jdbcType=DECIMAL},
      TOTALAMOUNT = #{totalamount,jdbcType=DECIMAL},
      SUBTOTALVAL = #{subtotalval,jdbcType=DECIMAL},
      DISCOUNTPRICE = #{discountprice,jdbcType=DECIMAL},
      SALESPRICE = #{salesprice,jdbcType=DECIMAL},
      DUEDATE = #{duedate,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      STATUSID = #{statusid,jdbcType=VARCHAR},
      TOTALPRICE = #{totalprice,jdbcType=DECIMAL},
      NEXTSTEP = #{nextstep,jdbcType=VARCHAR},
      NEXTSTEPTIME = #{nextsteptime,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      CONTACTSID = #{contactsid,jdbcType=VARCHAR},
      CONTRACTADDRESS = #{contractaddress,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where BUSINESSID = #{businessid,jdbcType=VARCHAR}
  </update>
</mapper>