<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidi.manage.dao.ContactsMapper" >
  <resultMap id="BaseResultMap" type="com.zhidi.manage.entity.Contacts" >
    <id column="CONTACTSID" property="contactsid" jdbcType="VARCHAR" />
    <result column="CREATORUSERID" property="creatoruserid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="POST" property="post" jdbcType="VARCHAR" />
    <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="DECIMAL" />
    <result column="SALTNAME" property="saltname" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="QQNO" property="qqno" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ZIPCODE" property="zipcode" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATDTIME" property="updatdtime" jdbcType="TIMESTAMP" />
    <result column="ISDELETED" property="isdeleted" jdbcType="DECIMAL" />
    <result column="DELETEUSERID" property="deleteuserid" jdbcType="VARCHAR" />
    <result column="DELETETIME" property="deletetime" jdbcType="TIMESTAMP" />
    <result column="CUSTOMERID" property="customerid" jdbcType="VARCHAR" />
    <result column="FIRSTCONTACTSID" property="firstcontactsid" jdbcType="VARCHAR" />
    <result column="ISFIRST" property="isfirst" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    CONTACTSID, CREATORUSERID, NAME, POST, DEPARTMENT, SEX, SALTNAME, TELEPHONE, EMAIL, 
    QQNO, ADDRESS, ZIPCODE, DESCRIPTION, CREATETIME, UPDATDTIME, ISDELETED, DELETEUSERID, 
    DELETETIME, CUSTOMERID, FIRSTCONTACTSID, ISFIRST
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_CRM_CONTACTS
    where CONTACTSID = #{contactsid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_CRM_CONTACTS
    where CONTACTSID = #{contactsid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.manage.entity.Contacts" >
    insert into TB_CRM_CONTACTS (CONTACTSID, CREATORUSERID, NAME, 
      POST, DEPARTMENT, SEX, 
      SALTNAME, TELEPHONE, EMAIL, 
      QQNO, ADDRESS, ZIPCODE, 
      DESCRIPTION, CREATETIME, UPDATDTIME, 
      ISDELETED, DELETEUSERID, DELETETIME, 
      CUSTOMERID, FIRSTCONTACTSID, ISFIRST
      )
    values (#{contactsid,jdbcType=VARCHAR}, #{creatoruserid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{sex,jdbcType=DECIMAL}, 
      #{saltname,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{qqno,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatdtime,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=DECIMAL}, #{deleteuserid,jdbcType=VARCHAR}, #{deletetime,jdbcType=TIMESTAMP}, 
      #{customerid,jdbcType=VARCHAR}, #{firstcontactsid,jdbcType=VARCHAR}, #{isfirst,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.manage.entity.Contacts" >
    insert into TB_CRM_CONTACTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contactsid != null" >
        CONTACTSID,
      </if>
      <if test="creatoruserid != null" >
        CREATORUSERID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="post != null" >
        POST,
      </if>
      <if test="department != null" >
        DEPARTMENT,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="saltname != null" >
        SALTNAME,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="qqno != null" >
        QQNO,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="zipcode != null" >
        ZIPCODE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updatdtime != null" >
        UPDATDTIME,
      </if>
      <if test="isdeleted != null" >
        ISDELETED,
      </if>
      <if test="deleteuserid != null" >
        DELETEUSERID,
      </if>
      <if test="deletetime != null" >
        DELETETIME,
      </if>
      <if test="customerid != null" >
        CUSTOMERID,
      </if>
      <if test="firstcontactsid != null" >
        FIRSTCONTACTSID,
      </if>
      <if test="isfirst != null" >
        ISFIRST,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contactsid != null" >
        #{contactsid,jdbcType=VARCHAR},
      </if>
      <if test="creatoruserid != null" >
        #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=DECIMAL},
      </if>
      <if test="saltname != null" >
        #{saltname,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qqno != null" >
        #{qqno,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatdtime != null" >
        #{updatdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null" >
        #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null" >
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="firstcontactsid != null" >
        #{firstcontactsid,jdbcType=VARCHAR},
      </if>
      <if test="isfirst != null" >
        #{isfirst,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.manage.entity.Contacts" >
    update TB_CRM_CONTACTS
    <set >
      <if test="creatoruserid != null" >
        CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        POST = #{post,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=DECIMAL},
      </if>
      <if test="saltname != null" >
        SALTNAME = #{saltname,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qqno != null" >
        QQNO = #{qqno,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatdtime != null" >
        UPDATDTIME = #{updatdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null" >
        ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null" >
        DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null" >
        DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerid != null" >
        CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="firstcontactsid != null" >
        FIRSTCONTACTSID = #{firstcontactsid,jdbcType=VARCHAR},
      </if>
      <if test="isfirst != null" >
        ISFIRST = #{isfirst,jdbcType=DECIMAL},
      </if>
    </set>
    where CONTACTSID = #{contactsid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.manage.entity.Contacts" >
    update TB_CRM_CONTACTS
    set CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      POST = #{post,jdbcType=VARCHAR},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=DECIMAL},
      SALTNAME = #{saltname,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      QQNO = #{qqno,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATDTIME = #{updatdtime,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      FIRSTCONTACTSID = #{firstcontactsid,jdbcType=VARCHAR},
      ISFIRST = #{isfirst,jdbcType=DECIMAL}
    where CONTACTSID = #{contactsid,jdbcType=VARCHAR}
  </update>
</mapper>