<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidi.manage.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.zhidi.manage.entity.Customer" >
    <id column="CUSTOMERID" property="customerid" jdbcType="VARCHAR" />
    <result column="OWNERUSERID" property="owneruserid" jdbcType="VARCHAR" />
    <result column="CREATORUSERID" property="creatoruserid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ORIGIN" property="origin" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ZIPCODE" property="zipcode" jdbcType="VARCHAR" />
    <result column="INDUSTRY" property="industry" jdbcType="VARCHAR" />
    <result column="ANNUALREVENUE" property="annualrevenue" jdbcType="VARCHAR" />
    <result column="OWNERSHIP" property="ownership" jdbcType="VARCHAR" />
    <result column="RATING" property="rating" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="ISDELETED" property="isdeleted" jdbcType="DECIMAL" />
    <result column="ISLOCKED" property="islocked" jdbcType="DECIMAL" />
    <result column="DELETEUSERID" property="deleteuserid" jdbcType="VARCHAR" />
    <result column="DELETETIME" property="deletetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CUSTOMERID, OWNERUSERID, CREATORUSERID, NAME, ORIGIN, ADDRESS, ZIPCODE, INDUSTRY, 
    ANNUALREVENUE, OWNERSHIP, RATING, CREATETIME, UPDATETIME, ISDELETED, ISLOCKED, DELETEUSERID, 
    DELETETIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_CRM_CUSTOMER
    where CUSTOMERID = #{customerid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_CRM_CUSTOMER
    where CUSTOMERID = #{customerid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.manage.entity.Customer" >
    insert into TB_CRM_CUSTOMER (CUSTOMERID, OWNERUSERID, CREATORUSERID, 
      NAME, ORIGIN, ADDRESS, 
      ZIPCODE, INDUSTRY, ANNUALREVENUE, 
      OWNERSHIP, RATING, CREATETIME, 
      UPDATETIME, ISDELETED, ISLOCKED, 
      DELETEUSERID, DELETETIME)
    values (#{customerid,jdbcType=VARCHAR}, #{owneruserid,jdbcType=VARCHAR}, #{creatoruserid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{zipcode,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{annualrevenue,jdbcType=VARCHAR}, 
      #{ownership,jdbcType=VARCHAR}, #{rating,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{isdeleted,jdbcType=DECIMAL}, #{islocked,jdbcType=DECIMAL}, 
      #{deleteuserid,jdbcType=VARCHAR}, #{deletetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.manage.entity.Customer" >
    insert into TB_CRM_CUSTOMER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerid != null" >
        CUSTOMERID,
      </if>
      <if test="owneruserid != null" >
        OWNERUSERID,
      </if>
      <if test="creatoruserid != null" >
        CREATORUSERID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="origin != null" >
        ORIGIN,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="zipcode != null" >
        ZIPCODE,
      </if>
      <if test="industry != null" >
        INDUSTRY,
      </if>
      <if test="annualrevenue != null" >
        ANNUALREVENUE,
      </if>
      <if test="ownership != null" >
        OWNERSHIP,
      </if>
      <if test="rating != null" >
        RATING,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="isdeleted != null" >
        ISDELETED,
      </if>
      <if test="islocked != null" >
        ISLOCKED,
      </if>
      <if test="deleteuserid != null" >
        DELETEUSERID,
      </if>
      <if test="deletetime != null" >
        DELETETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerid != null" >
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="owneruserid != null" >
        #{owneruserid,jdbcType=VARCHAR},
      </if>
      <if test="creatoruserid != null" >
        #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="annualrevenue != null" >
        #{annualrevenue,jdbcType=VARCHAR},
      </if>
      <if test="ownership != null" >
        #{ownership,jdbcType=VARCHAR},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="islocked != null" >
        #{islocked,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null" >
        #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null" >
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.manage.entity.Customer" >
    update TB_CRM_CUSTOMER
    <set >
      <if test="owneruserid != null" >
        OWNERUSERID = #{owneruserid,jdbcType=VARCHAR},
      </if>
      <if test="creatoruserid != null" >
        CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        ORIGIN = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        INDUSTRY = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="annualrevenue != null" >
        ANNUALREVENUE = #{annualrevenue,jdbcType=VARCHAR},
      </if>
      <if test="ownership != null" >
        OWNERSHIP = #{ownership,jdbcType=VARCHAR},
      </if>
      <if test="rating != null" >
        RATING = #{rating,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null" >
        ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="islocked != null" >
        ISLOCKED = #{islocked,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null" >
        DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null" >
        DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CUSTOMERID = #{customerid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.manage.entity.Customer" >
    update TB_CRM_CUSTOMER
    set OWNERUSERID = #{owneruserid,jdbcType=VARCHAR},
      CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ORIGIN = #{origin,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      INDUSTRY = #{industry,jdbcType=VARCHAR},
      ANNUALREVENUE = #{annualrevenue,jdbcType=VARCHAR},
      OWNERSHIP = #{ownership,jdbcType=VARCHAR},
      RATING = #{rating,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      ISLOCKED = #{islocked,jdbcType=DECIMAL},
      DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP}
    where CUSTOMERID = #{customerid,jdbcType=VARCHAR}
  </update>
</mapper>