<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidi.manage.dao.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.zhidi.manage.entity.Task" >
    <id column="TASKID" property="taskid" jdbcType="VARCHAR" />
    <result column="OWNERUSERID" property="owneruserid" jdbcType="VARCHAR" />
    <result column="ABOUT_USER" property="aboutUser" jdbcType="VARCHAR" />
    <result column="SUBJECT" property="subject" jdbcType="VARCHAR" />
    <result column="DUEDATE" property="duedate" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="PRIORITY" property="priority" jdbcType="VARCHAR" />
    <result column="SENDEMAIL" property="sendemail" jdbcType="VARCHAR" />
    <result column="CREATORUSERID" property="creatoruserid" jdbcType="VARCHAR" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="UPDTADATE" property="updtadate" jdbcType="TIMESTAMP" />
    <result column="ISCLOSE" property="isclose" jdbcType="DECIMAL" />
    <result column="ISDELETED" property="isdeleted" jdbcType="DECIMAL" />
    <result column="DELETEUSERID" property="deleteuserid" jdbcType="VARCHAR" />
    <result column="DELETETIME" property="deletetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhidi.manage.entity.Task" extends="BaseResultMap" >
    <result column="DESCRIPTION" property="description" jdbcType="BLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    TASKID, OWNERUSERID, ABOUT_USER, SUBJECT, DUEDATE, STATUS, PRIORITY, SENDEMAIL, CREATORUSERID, 
    CREATEDATE, UPDTADATE, ISCLOSE, ISDELETED, DELETEUSERID, DELETETIME
  </sql>
  <sql id="Blob_Column_List" >
    DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_CRM_TASK
    where TASKID = #{taskid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_CRM_TASK
    where TASKID = #{taskid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.manage.entity.Task" >
    insert into TB_CRM_TASK (TASKID, OWNERUSERID, ABOUT_USER, 
      SUBJECT, DUEDATE, STATUS, 
      PRIORITY, SENDEMAIL, CREATORUSERID, 
      CREATEDATE, UPDTADATE, ISCLOSE, 
      ISDELETED, DELETEUSERID, DELETETIME, 
      DESCRIPTION)
    values (#{taskid,jdbcType=VARCHAR}, #{owneruserid,jdbcType=VARCHAR}, #{aboutUser,jdbcType=VARCHAR}, 
      #{subject,jdbcType=VARCHAR}, #{duedate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{priority,jdbcType=VARCHAR}, #{sendemail,jdbcType=VARCHAR}, #{creatoruserid,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{updtadate,jdbcType=TIMESTAMP}, #{isclose,jdbcType=DECIMAL}, 
      #{isdeleted,jdbcType=DECIMAL}, #{deleteuserid,jdbcType=VARCHAR}, #{deletetime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.manage.entity.Task" >
    insert into TB_CRM_TASK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskid != null" >
        TASKID,
      </if>
      <if test="owneruserid != null" >
        OWNERUSERID,
      </if>
      <if test="aboutUser != null" >
        ABOUT_USER,
      </if>
      <if test="subject != null" >
        SUBJECT,
      </if>
      <if test="duedate != null" >
        DUEDATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="sendemail != null" >
        SENDEMAIL,
      </if>
      <if test="creatoruserid != null" >
        CREATORUSERID,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="updtadate != null" >
        UPDTADATE,
      </if>
      <if test="isclose != null" >
        ISCLOSE,
      </if>
      <if test="isdeleted != null" >
        ISDELETED,
      </if>
      <if test="deleteuserid != null" >
        DELETEUSERID,
      </if>
      <if test="deletetime != null" >
        DELETETIME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskid != null" >
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="owneruserid != null" >
        #{owneruserid,jdbcType=VARCHAR},
      </if>
      <if test="aboutUser != null" >
        #{aboutUser,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="duedate != null" >
        #{duedate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=VARCHAR},
      </if>
      <if test="sendemail != null" >
        #{sendemail,jdbcType=VARCHAR},
      </if>
      <if test="creatoruserid != null" >
        #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updtadate != null" >
        #{updtadate,jdbcType=TIMESTAMP},
      </if>
      <if test="isclose != null" >
        #{isclose,jdbcType=DECIMAL},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null" >
        #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null" >
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.manage.entity.Task" >
    update TB_CRM_TASK
    <set >
      <if test="owneruserid != null" >
        OWNERUSERID = #{owneruserid,jdbcType=VARCHAR},
      </if>
      <if test="aboutUser != null" >
        ABOUT_USER = #{aboutUser,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        SUBJECT = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="duedate != null" >
        DUEDATE = #{duedate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        PRIORITY = #{priority,jdbcType=VARCHAR},
      </if>
      <if test="sendemail != null" >
        SENDEMAIL = #{sendemail,jdbcType=VARCHAR},
      </if>
      <if test="creatoruserid != null" >
        CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updtadate != null" >
        UPDTADATE = #{updtadate,jdbcType=TIMESTAMP},
      </if>
      <if test="isclose != null" >
        ISCLOSE = #{isclose,jdbcType=DECIMAL},
      </if>
      <if test="isdeleted != null" >
        ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null" >
        DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null" >
        DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=BLOB},
      </if>
    </set>
    where TASKID = #{taskid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhidi.manage.entity.Task" >
    update TB_CRM_TASK
    set OWNERUSERID = #{owneruserid,jdbcType=VARCHAR},
      ABOUT_USER = #{aboutUser,jdbcType=VARCHAR},
      SUBJECT = #{subject,jdbcType=VARCHAR},
      DUEDATE = #{duedate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=VARCHAR},
      SENDEMAIL = #{sendemail,jdbcType=VARCHAR},
      CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      UPDTADATE = #{updtadate,jdbcType=TIMESTAMP},
      ISCLOSE = #{isclose,jdbcType=DECIMAL},
      ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      DESCRIPTION = #{description,jdbcType=BLOB}
    where TASKID = #{taskid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.manage.entity.Task" >
    update TB_CRM_TASK
    set OWNERUSERID = #{owneruserid,jdbcType=VARCHAR},
      ABOUT_USER = #{aboutUser,jdbcType=VARCHAR},
      SUBJECT = #{subject,jdbcType=VARCHAR},
      DUEDATE = #{duedate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=VARCHAR},
      SENDEMAIL = #{sendemail,jdbcType=VARCHAR},
      CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      UPDTADATE = #{updtadate,jdbcType=TIMESTAMP},
      ISCLOSE = #{isclose,jdbcType=DECIMAL},
      ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP}
    where TASKID = #{taskid,jdbcType=VARCHAR}
  </update>
</mapper>